@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

._container {
  padding: 0 15px;
  width: 1140px;
  margin: 0 auto;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.block-title {
  color: var(--accent, #D4C17F);
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}

.main {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header-container {
  min-height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}
.header__top {
  padding-top: 30px;
}
.header__footer {
  padding-bottom: 74px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header__item:not(:last-child) {
  margin-right: 40px;
}

.header__title-text {
  text-align: center;
  color: #D4C17F;
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 81px;
}
.header__title-icon {
  display: block;
  text-align: center;
}

.header-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 98px;
}
.header-contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contacts__item:last-child {
  justify-content: start;
}
.header-contacts__icon {
  margin-right: 14px;
}
.header-contacts__text {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.page__benefits {
  padding: 120px 0;
}

.benefits-container {
  display: flex;
  justify-content: center;
}
.benefits__items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  max-width: 794px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefits__icon {
  margin-bottom: 53px;
}
.benefits__text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: -0.9px;
}

.appartments__title {
  margin-bottom: 88px;
}
.appartments__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.appartments__item {
  position: relative;
}
.appartments__card {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 58%;
  transition: all 1s ease;
}
.appartments__card::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.appartments__card:hover {
  color: #fff;
  transition: all 1s ease;
}
.appartments__card::after {
  content: "";
  z-index: 4;
  position: absolute;
  opacity: 0;
  border: 3px double #fff;
  transition: all 1s ease;
}
.appartments__card:hover::after {
  content: "";
  z-index: 4;
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px double #fff;
}
.appartments__card-img {
  opacity: 0.99;
  top: 0;
  left: 0;
  transform: scale(1.2);
  position: absolute;
  object-fit: cover;
  transition: all 1s ease;
}
.appartments__desk {
  position: absolute;
  z-index: 9999;
  left: 50px;
  bottom: 50px;
  font-size: 24px;
  font-weight: 400;
}

.appartments__card:hover .appartments__card-img {
  transform: scale(1);
  object-fit: cover;
}

.page__cta {
  padding: 180px 0;
  position: relative;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%);
}

.cta__title {
  margin-bottom: 17px;
}
.cta__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.cta__desk {
  line-height: 150%;
}
.cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.form__privacy {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #e7e7e7;
  line-height: 123%;
}
.form__btn {
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  background-color: #D4C17F;
  color: #fff;
  font-weight: 700px;
  line-height: 168.75%;
  transition: all 0.4s ease;
}
.form__btn:hover {
  background-color: #fff;
  color: #D4C17F;
}

.form-cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}/*# sourceMappingURL=main.css.map */