.page__map {
    margin: 180px 0;
}
.map {
    position: relative;
    &::before {
        content: 'V';
        right: calc(50% + 555px);
        transform: translate(50%, -10%);
        top: 0;
        position: absolute;
        color: $white;
        text-align: center;
        font-family: $font-accent;
        font-size: 400px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.02;
    }
    &__title {
        margin-bottom: 88px;
    }
    &__body {
        min-height: 358Px;
        background-color: $gray;
    }
    &__location {

    }
}
