.page__map {
    margin: 180px 0;
}
.map {
    position: relative;
    &::before {
        content: 'V';
        right: calc(50% + 555px);
        transform: translate(50%, -10%);
       @include decorNumber;
    }
    &__title {
        margin-bottom: 88px;
    }
    &__body {
        min-height: 358Px;
        background-color: $gray;
    }
    &__location {

    }
}
